.profil-page {
  margin: 80px auto 0;
  max-width: 1200px;

  }

  .profil-page .log-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;

    @media screen and(max-width: 885px) {
      grid-template-columns: 1fr;
    }
  }

  .profil-page .icons {
    top: 55px;
  }

  .connection-form {
    border: none;
    background: var(--color-4);
    min-width: 490px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;

    @media screen and(max-width: 550px) {
      min-width: 200px;
    }

   
  }
  .connection-form  .form-container {
    display: grid;
    grid-template-columns: 30% 70%;

    @media screen and(max-width: 550px) {
      grid-template-columns: 1fr;
    }

  }

  .form-container form input {
    
      padding: 14px 20px;
      margin: 0;
      font-size: 1.2rem;
      font-family: var(--font-2);
      border-radius: 20px;

  }

  .form-container form  a {
    color: rgb(62, 62, 214);
  }

  .form-container form input :focus {
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
  }

  .form-container ul li {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.2s;

    @media screen and(max-width: 550px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  .form-container ul .active-btn {
    background: var(--color-1);
  }

  .form-container ul .active-btn :hover {
    background: var(--color-2);
  }

  .form-container ul
   li:not(.active-btn) :hover {
      transform: translateX(3px);
  }


  .form-container ul #login {
   
      position: relative;

      @media screen and(max-width: 550px) {
        margin-bottom: 30px;
      }
      
    
  }

  @media screen and(max-width: 550px) {

    .form-container ul #login :after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 1px;
      background: var(--color-2);
    }
  }


  h1 {
    text-align: center;
    margin: 10px 0 6px;
  }

  .img-container {
    display: grid;
    align-items: center;
    height: 100%;

  }

  .img-container img {
    height: 280px;

    @media screen and(max-width: 1050px) {
      height: 220px;
    }
    @media screen and(max-width: 950px) {
      height: 200px;
    }
    @media screen and(max-width: 885px) {
      display: none;
    }
  }
  .update-container {
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and(max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }

  .update-container
  > div {
    background: var(--color-4);
    border-radius: 20px;
    padding: 25px;
    margin: 20px 10px;

    @media screen and(max-width: 700px) {
      margin: 10px 10px;
    }
  }
 
  .update-container 
  .left-part{
    text-align: center;
  }
  .update-container 
  .left-part h3{
    margin-bottom: 12px;
  }

  .update-container 
  .left-part  img {
    height: 180px;
    width: 180px;
    border-radius: 46px;
    object-fit: cover;
    margin-bottom: 30px;
    box-shadow: 0 0 6px rgba(51, 51, 51, 0.363);
  }

  .update-container 
  .left-part form {

      position: relative;
  }

  .update-container 
  .left-part form 
  label{

        position: absolute;
        transform: translate(-50%, -50%);
        width: 270px;
        background: var(--color-3);
        color: var(--color-2);
        border-radius: 20px;
        display: inline-block;
        padding: 9px 0;
        transition: 0.2s;
        z-index: 10;
        cursor: pointer;
      }

      .update-container 
      .left-part form 
      input[type="file"]{
    
         
           
            position: absolute;
            opacity: 1;
            transform: translate(-3px, -50%);
            cursor: pointer;
            padding: 10px 20px;
    
            @media screen and(max-width: 1121px) {
              opacity: 0;
            }
         }

  .update-container 
  .left-part form 
  input[type="submit"] {
      
        margin-top: 10px;
        border-radius: 20px;
  }

  .update-container 
  .left-part form 
  input[type="submit"]  :hover {
    letter-spacing: 1px;
  }
  
  

  .update-container 
  .left-part 
   p {
    color: red;
    font-family: var(--font-3);
    margin-top: 6px;
  }


  .update-container 
  .right-part  {
    text-align: center;
    padding: 20px 40px;
  }


  .update-container 
  .right-part  h3 {
    margin-bottom: 12px;
  }
  .update-container 
  .right-part
  p,
  textarea {
    min-height: 80px;
    border: 1px solid var(--color-1);
    border-radius: 20px 20px 6px 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
  }
  .update-container 
  .right-part 
   textarea {
    width: 100%;
    margin-bottom: -6px;
    font-size: 1.2rem;
  }

  .update-container 
  .right-part
  button {
    margin: 5px 0;
    float: right;
  }
  .update-container 
  .right-part
  h4 {
    margin: 60px 0 10px;
  }
  .update-container 
  .right-part h5  {
    
      
        background: var(--color-1);
        color: var(--color-4);
        font-family: var(--font-1);
        margin: 20px 0;
        padding: 12px;
        font-size: 1.1rem;
        border-radius: 20px;
        transition: 0.2s;
        cursor: pointer;  
  }



  .update-container 
  .right-part h5 :hover {
    filter: brightness(110%);
    transform: translateX(2px);
  }
  .popup-profil-container {
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    animation: popup 1s forwards;

    @keyframes popup {
      to {
       --webkit-backdrop-filter: blur(2px);
      }
    }
  }

  .popup-profil-container  .modal {
    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-100%);
    background: var(--color-2);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
    overflow: auto;
    transform: scaleY(0);
    transform-origin: center;
    animation: modal .5s forwards;

    
    @keyframes modal {
      to {
        transform: scale(1) translate(-50%);
      }
    }
  }

  .popup-profil-container 
   h3 {
    min-width: 200px;
  }

  .popup-profil-container 
  .modal
  .cross {
    position: absolute;
    top: 25px;
    right: 25px;
    transition: 0.1s;
    cursor: pointer;

  }

  .popup-profil-container 
  .modal
  .cross
  :hover {
    transform: scale(1.07);
  }

  .popup-profil-container  .modal 
  ul {
    margin: 20px 0 0;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .popup-profil-container  .modal 
  ul::-webkit-scrollbar {
    width: 2px;
  }
  .popup-profil-container  .modal 
  ul::-webkit-scrollbar-track {
    background: var(--color-4);
  }
  .popup-profil-container  .modal 
  ul::-webkit-scrollbar-thumb {
    background: var(--color-1);
  }
  .popup-profil-container  .modal 
  ul::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .popup-profil-container  .modal 
  ul li  {
    
  
          display: grid;
          grid-template-columns: 64px 1fr 114px;
          align-items: center;
          margin: 10px 0;
  }
  .popup-profil-container  .modal 
  ul li  img  {
            height: 50px;
            width: 50px;
            border-radius: 20px;
            object-fit: cover;
            box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
   }

 .popup-profil-container  .modal 
   ul li h4 {
 
            
             text-align: left;
             min-width: 210px;
     }
     .popup-profil-container  .modal 
     ul li .follow-handler  {

         text-align: left;
     }

  .popup-profil-container  .modal 
  ul li .follow-handler  
  button {

           
              background: var(--color-4);
              border-radius: 20px;
              margin-right: 6px;
            
    
  }

  .popup-profil-container  .modal 
   ul li .follow-handler  
   button :hover {
    color: var(--color-3);
    transform: translateX(2px);
  }

